body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

#heading {
  font-size: 6rem;
  text-align: center;
  color: #2c3e50;
}

.hide {
  display: none;
}

#addItemInputField {
  width: 80%;
  height: 4rem;
  border-color: #dee2e6;
  padding: 1rem 1rem;
}

.takeInput {
  margin: 0 auto;
  width: 50%;
}

#body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

#heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.addItemInputField {
  height: 100%;
  padding: 1rem 3rem;
  outline: none;
}

.takeInput {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 3rem;
}

.flex-container {
  display: flex;
}

#addItemBtn {
  padding: 1.3rem 3rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.toDoListDisplay {
  margin: 0 auto;
  width: 80%;
}

.toDoListDisplay li {
  font-size: 3rem;
}

#deleteAllBtn {
  padding: 1rem 3rem;
}

#toDoListUl li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9ec;
  padding: 1rem 1rem;
  color: #333333;
  border-radius: 8px;
  border: 1px solid #919191;
}

#toDoListUl li button {
  font-size: 2rem;
  background-color: #f8d7da;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}

#deleteAllBtn {
  margin: 0 auto;
  width: 13rem;
  padding: 1.3rem 1rem;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px; /* optional, for vertical centering */
}

.toDoListDisplay {
  background-color: #ffffbe;
  width: 80%;
  min-height: 150px;
  padding: 2rem 3rem;
  border-radius: 10px;
  border: 1px solid #535e6a;
}

@media (max-width: 810px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #addItemBtn {
    margin-top: 1rem;
    width: 80%;
  }

  .takeInput {
    margin: 0 auto;
    width: 80%;
  }

  #deleteAllBtn {
    margin-top: 4rem;
    width: 64%;
  }
}

.entire-app {
  background-color: #ffdc90;
  padding: 0.5rem 0rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 20%;
  padding-bottom: 4rem;
  border-radius: 10px;
}
